@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
h1 {
    color:#236F21;
    font-family: 'Staatliches', cursive;;
    font-size: 60pt;
    text-align: center;
    background-image: url("images/Header Background.jpeg");
}
#headerPhoto {
    margin-top: 0;
    max-height: 50%;
    max-width: auto;
    padding-top: 0;
    text-align: center;
}
#map {
    height: 800px;
    width: 100%;
}